/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.home {
  background-image: url(/images/img1.jpg);
  background-repeat: no-repeat;
  background-position: 0 -200px;
}

.container {
  width: 70%;
  margin: auto;
  padding: 100px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: white;
  border-radius: 30px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav ul li {
  padding: 0 20px;
}

.home-msg {
  margin: 100px 0;
  color: white;
}

.msg {
  margin-bottom: 50px;
}

.home-msg h1,
.home-msg p {
  margin: 15px 0;
}

.home-msg .btn {
  background-color: red;
  color: white;
  padding: 20px 25px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.card {
  background: steelblue;
  border-radius: 30px;
  padding: 30px;
  color: white;
}

.row {
  display: flex;
  justify-content: space-between;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

img {
  width: 100%;
} */
